set hlsearch
set relativenumber
set scrolloff=5
set incsearch
set ignorecase smartcase

let mapleader=" "
nmap <space> <leader>

nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

nnoremap <leader>p :action GotoFile<CR>
noremap <leader>. :action ShowIntentionActions<CR>
nnoremap [g :action GotoPreviousError<CR>
nnoremap ]g :action GotoNextError<CR>
nnoremap <leader>rr :action RenameElement<cr>
nnoremap <leader>f gggqG<C-o>
vnoremap <leader>p "_dP

set commentary
set surround
set highlightedyank
