* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(46, 52, 64, 0.8);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#workspaces button {
    padding: 0 5px; 
    background: transparent;
    color: #D8DEE9;
}

#workspaces button.focused {
    background: rgba(216, 222, 233, 0.8);
    color: #2E3440;
}

#mode, #clock, #battery, #media, #pulseaudio, #network, #cpu, #memory, #temperature, #backlight, #tray{
    padding: 0 10px;
    margin: 0 5px;
    color: #D8DEE9;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}


#battery {
    color: #D8DEE9;
}

#battery.charging {
    border-bottom: 3px solid rgba(163, 190, 140, 0.8);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid rgba(191, 97, 106, 0.8);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
